
html { 
  	background: url("../unit3/images/20070621_060412_o.jpg")no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  }
nav {
	font-size: 24px;
	float: right;

}

nav a {
	text-decoration: none;
	color: #000000;
	display: inline-block;
}


body {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #000000;
}

h1 {
	text-align: center;
	font-family: 'Karla', sans-serif;
	font-size: 80px;
	font-weight: bold;
	margin: 20px auto;
	background-color: rgba(255, 255, 0, 0.9);
	width: 500px;
	border: 1px solid black;
}
h3, h4 { 
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	font-weight: bold;
	margin: 40px auto; 
	padding: 10px;
    background-color: rgba(255, 0, 0, 0.5);
    border: 1px solid black;
}
/*ul font is inherited from*/
ul { 
	font-size: 18px;
	font-weight: normal;
	margin: 0 auto;
    width: 450px;
    background-color: rgba(255, 0, 0, 0.9);
    }

li {
	line-height: 25px;
}

p {
	text-align: center;
	margin: 0 auto;
    width: 500px;
    background-color: rgba(255, 0, 0, 0.9);

}

#slogan {
	text-align: center;
	font-family: 'Karla', sans-serif;
	font-size: 30px;
	font-weight: bold;
	text-transform: lowercase;
	width: 500px;
	margin: 30px auto;
	background-color: rgba(255, 0, 255, 0.9);

}

#email {
}


#wrapper1 {
    margin: 0 auto;
    width: 100%;
    background-color: rgba(255, 0, 0, 0.7);
}

