body {
	text-align: left; 
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #000000;
	margin: 0 auto;
}

html { 
  	background: url("../unit3/images/20070621_060412_o.jpg")no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

h1 {
	font-family: 'Karla', sans-serif;
	text-align: center;
	font-size: 80px;
	color: #000000;
	font-weight: bold;
	margin: 0 auto;
}

#slogan {
	text-align: center;
	font-family: 'Karla', sans-serif;
	font-size: 30px;
	font-weight: bold;
	color: #000000;
	text-transform: lowercase;
	margin: 0 auto;
	padding: 1cm auto;
}

.Specializations{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #000000;
	margin: 0 auto;

}

ul {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #000000;
	margin: 0 auto;
}

.section {  
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #000000;
	margin: 0 auto;
}

#email {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #000000;
	margin: 0 auto;
}

h3 { 
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #000000;
	margin: 0 auto;
}

#bodycopy {
	width: 100%;
	background-color: rgba(255, 255, 255, .5);
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #000000;
	margin: 0 auto;
	padding: 40px;
}

#wrapper {
	margin: 0 auto;
    background color: rgba(255, 255, 255, 0.5);
    width: 800px;
}

#p {

}
