/*#page-header > .wrapper > h1 {

}*/



nav, li, #page-title {
	display: inline-block;
}

nav {
	float: right;
	background-color: rgb(27, 254, 214);
}

ul {
	border: 1px solid red;
}

li {
	background-color: white;
	padding: 10px 25px 10px 25px;
	border: 1px solid black;
	margin-right: 20px;
}

#page-header {
	width: 400px;
  	margin: 0 auto;
  	background-color: yellow;
}	
.wrapper {
	margin: 800px;
	border: 1px solid black;
	background-color: #d600ff;