header {
  	width: 100%;
  	margin: 0%;
  	background-color: f3f3f3; 
  }

body {
	background-color: #f3f3f3;
	font-family: 'Raleway', sans-serif;
}
nav {
	float: right;
  	background-color: f3f3f3;
  	width: 25%;
}

ul {
	margin-right: 0%;
	background-color: f3f3f3;
}

li {
	background-color: #f3f3f3;
	padding: 2px 1px 2px 1px;
	margin: 0 10px;
	display: inline-block;
}

a { 
	font-family: 'Raleway', sans-serif; 
	font-weight: 400;
	font-size: 15px; 
	text-decoration: none;
}

li a {
	color: #FF00FF;
}

a:hover {
	color: #4E5162;
}

p  {
	text-align: center;
	margin: 10em auto;
	width: 50%;
	letter-spacing: .10em;
	line-height: 1.5em;

}

.wrapper {
	margin: 0 auto;
	width: 100%;
	background-color: #f3f3f3;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.wrapperup {
	display: block;
	max-width: 100%;
	margin: auto;
	background-color: #bed5dc;
}

.blurb  {
	text-align: center;
	margin: 0 auto;
	padding-top: 1em;
	max-width: 50%;
	line-height: 

}

img  {
	margin: 0 auto;
	display: block; 
	background-color: #bed5dc;

}

