body {
	text-align: left; 
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	margin: 2cm;
}

html { 
  	background: url("../unit3/images/20070621_060412_o.jpg")no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

h1 {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-size: 60px;
	color: #000000;
	font-weight: bold;
}

#slogan {
	text-align: center;
	font-family: Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #000000;
	text-transform: lowercase;
}

.Specializations{
	text-align: left; 
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
}

ul {
	text-align: left; 
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
}

.section { 
	text-align: left; 
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
}

#email {
	text-align: left; 
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000000;

	
}

h3 {
	text-align: left; 
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
}




